* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
}

hr {
    margin-bottom: 20px;
}

#header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 3em;
    background-color: transparent;
    margin-bottom: 50px;
}

.logo {
    
    letter-spacing: 1px;
    display: flex;
}

.logo p {
    font-size: 0.8rem;
    color: #C0C0C0;

}


ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

li {
    list-style: none;
    display: flex;

}

.nav-link {
    color: #000;
    font-size: 0.8rem;
    text-decoration: none;
}

.bar-link {
    color: #000;
    font-size: 1rem;
    text-decoration: none;
}

.bar-link-boss {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 5px;
}

.main-body {
    
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 120px;
}

.sub-elements{
    border: 2px solid grey;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow:  blue;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#custom-p {
    background-color: aquamarine;
    padding: 2px 2px;
    margin: 4px 4px;
}

.body-text {
    margin: 20px 45px;
    font-size: 20px;

}

.body-text h1{
    margin-bottom: 40px;
}

.body-text p {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 30px;

    
}

.input-text {
    margin: 50px 0;
    
}

#myInput {
    height: 50px;
    width: 70%;
    border: none;
    font-size: 1.2rem;
    padding-left: 10px;
    
}

#myInput:active {
    border: none;
}

#myInput::placeholder {
    padding-left: 15px;
    color: lightgray;
}

/* .d1 {
    display: none;
} */